.MonsterPage{
    padding: 10px 0;
    width: 60%;
    display: grid;
    justify-items: center;
    background-color: green;
}

.myProgress {
    border-radius: 10px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 250px;
    background-color: #ddd;
}

#myBar {
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    background-color: red;
}

.monsterBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 200px;
    img {
        width: 100%;
        height: auto;
        display: block;
        image-rendering: pixelated;
        image-rendering: -moz-crisp-edges;
        image-rendering: crisp-edges;
        /* object-fit:cover; */
        user-select: none;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;


        
    }
}

.monsterBox:active{
    transform: scale(0.9) rotate(10deg);
}

.alive{
    animation-name: idle;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        
        animation-direction: alternate;
}

@keyframes idle {
    0%   {transform: translate(0px, 10px)}
    100%   {transform: scale(1.05) translate(0px, 0px)}
}

.dead {
    animation-name: test;
    animation-duration: 1.6s;
}

@keyframes death {
    0%   {transform: rotate(0deg);}
    10%   {transform: rotate(90deg);}
    100%   {transform: rotate(90deg);}
}

@keyframes test {
    0%   {transform: rotate(0deg);}
    100%   {transform: rotate(720deg) scale(0.05);}
}