.MonsterPage{
    position: relative;
    height: 100%;
    /* padding: 10px 0; */
    width: 60%;
    display: grid;
    justify-items: center;
    image-rendering: pixelated;
    /* background-color: green; */
}

.b0{
    overflow: hidden;
    position: absolute;
    z-index: -1;
    left: 0;
    width: 100vw;
    height: 87vh;
    image-rendering: pixelated;
    background-image: url('https://i.pinimg.com/originals/65/7e/c2/657ec2e0592242133adf2d0444e1d32a.png');
    background-size: cover;
}
.b1{
    overflow: hidden;
    position: absolute;
    z-index: -1;
    left: 0;
    width: 100vw;
    height: 87vh;
    image-rendering: pixelated;
    background-size: cover;
    background-image: url('https://wallpapercave.com/wp/wp9252359.png');
}
.b2{
    overflow: hidden;
    position: absolute;
    z-index: -1;
    left: 0;
    width: 100vw;
    height: 87vh;
    image-rendering: pixelated;
    background-size: cover;
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/52cf024e-4cc2-4480-aa9b-192e14e46400/d9icbyp-154b18c4-7427-452c-924d-e13f6ea182f4.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzUyY2YwMjRlLTRjYzItNDQ4MC1hYTliLTE5MmUxNGU0NjQwMFwvZDlpY2J5cC0xNTRiMThjNC03NDI3LTQ1MmMtOTI0ZC1lMTNmNmVhMTgyZjQuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.I_C8zTZm9bYCNIWUHuqc-IATW2MJE62OMyGyI16zQAQ');
    background-position: center -300px;
}

.myProgress {
    place-self: center;
    height: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 250px;
    background-color: #ddd;
}

#myBar {
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: red;
}

.monsterBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 200px;
    img {
        width: 100%;
        height: auto;
        display: block;
        image-rendering: pixelated;
        image-rendering: -moz-crisp-edges;
        image-rendering: crisp-edges;
        /* object-fit:cover; */
        user-select: none;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        
    }
}

.monsterBox:active{
    transform: scale(0.9) rotate(10deg);
}

.alive{
    animation-name: idle;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        
        animation-direction: alternate;
}

@keyframes idle {
    0%   {transform: translate(0px, 10px)}
    100%   {transform: scale(1.05) translate(0px, 0px)}
}

.dead {
    animation-name: test;
    animation-duration: 1.6s;
}

@keyframes death {
    0%   {transform: rotate(0deg);}
    10%   {transform: rotate(90deg);}
    100%   {transform: rotate(90deg);}
}

@keyframes test {
    0%   {transform: rotate(0deg);}
    100%   {transform: rotate(720deg) scale(0.05);}
}

select{
    position: absolute;
    height: 25px;
    width: 100px;
    left: 140px;
}