.stats{
    height: 100%;
    /* padding: 10px 0; */
    width: 60%;
    display: grid;
    justify-content: center;
    justify-items: center;
    background-color: peru;
}
table, th, td {
    border:1px solid black;
  }