/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  /* display: flex; */
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.app {
  /* background-color: #F0F5FA; */
  display: grid;
  grid-template:
  'header header' 90px
  'left-menu page' 1fr /
  120px 1fr;
}

.app > .page {
  height: 100%;
  grid-area: page;
  /* padding: 10px 0; */
  width: 100%;
  display: grid;
  justify-items: center;
  place-self: center;
  background-color: aqua;
    /* grid-area: page; */
  /* padding: 2em; */
  margin: 10px;
  overflow: hidden;
}

.app > .left-menu {
  /* background-color: white; */
  grid-area: left-menu;
  place-self: left;
  height: 100%;
}

.app > .left-menu > li{
  justify-content: center;
}

.app > .left-menu .inbox-list {
  display: grid;
  grid-gap: 10px;
  top: 90px;
  position: sticky;
  padding: 0;
}

.app > .left-menu .inbox-list .item {
  position: relative;
  height: 120px;
  padding: 5px 10px;
  display: grid;
  justify-content: center;
  align-items: center;
  
  color: #000046;
  
}

.menu--item{
  position: relative;
  display: flex;
  flex-flow: column;
  height: 100px;
  justify-items: center;
  justify-content: center;
  align-items: center;
}

.app > .left-menu .inbox-list .item.active {
  /* background-color: #e6ebf5; */
  /* background-color:  rgb(241, 233, 210); */
  color: #000046;
  /* border: dashed;
  border-color:red; */
}

.parchment {
  position: absolute;
  height: 120px;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;

  color: #000046;
  /* border: dashed;
  border-color:black; */
  box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
  background: #fffef0;
  filter: url(#wavy2);
}

.parchment.active{
  box-shadow: 0px 3px 30px orangered, 0 0 60px #8a4d0f inset;
  background: #ffffff;
}

.none{
  display: none;
}