/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  /* display: flex; */
  padding: 2em;
}
.app > .page {
  background-color: aqua;
  grid-area: page;
  /* padding: 2em; */
  margin: 10px;
}

.read-the-docs {
  color: #888;
}




.healthText{
  /* position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
 /* justify-content: left; */
}



.app {
  /* background-color: #F0F5FA; */
  display: grid;
  grid-template:
  'header header' 90px
  'left-menu page' 1fr /
  120px 1fr;
}

.app > .page {
  grid-area: page;
  padding: 10px 0;
  width: 90%;
  display: grid;
  justify-items: center;
  place-self: center;
}

.app > .left-menu {
  /* background-color: white; */
  grid-area: left-menu;
  place-self: left;
}

.app > .left-menu > li{
  justify-content: center;
}

.app > .left-menu .inbox-list {
  display: grid;
  grid-gap: 10px;
  top: 90px;
  position: sticky;
}

.app > .left-menu .inbox-list .item {
  height: 120px;
  padding: 5px 10px;
  display: grid;
  justify-content: center;
  align-items: center;

}

.menu--item{
  display: flex;
  flex-flow: column;
  height: 100px;
  justify-items: center;
  justify-content: center;
  align-items: center;
}

.app > .left-menu .inbox-list .item.active {
  background-color: #e6ebf5;
  color: #000046;
}

.app > .left-menu .inbox-list .item.toggle {
  background-color: transparent;
}